.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

key.properties
GoogleService-Info.plist
google-services.json

vcs.xml

.gradle
local.properties
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/workspace.xml
.idea/libraries
.idea
*.iml