.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

key.properties
GoogleService-Info.plist
google-services.json

vcs.xml

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild